build/*
vk-build/*
app_packages.zip
Frameworks/Python.framework
*xcuserstate
*xcuserdata*
*xcshare*
temp/
Frameworks/python/libPython.a
Podfile.lock
Pods/*
scripts/Texture*
scripts/Tex_ture*
*.xcworkspacedata

